body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1726px;
  height:814px;
  overflow:hidden;
}
#u20271_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1726px;
  height:814px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u20271_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20272 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:149px;
  height:16px;
}
#u20272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u20273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1705px;
  height:2px;
}
#u20273 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:32px;
  width:1704px;
  height:1px;
}
#u20273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u20274 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:687px;
  width:72px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u20274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u20275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u20275 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:687px;
  width:72px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u20275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u20276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20276 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:6px;
  width:73px;
  height:16px;
  color:#666666;
}
#u20276_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20276.mouseOver {
}
#u20276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u20277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20277 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:6px;
  width:134px;
  height:16px;
  color:#999999;
}
#u20277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u20278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1724px;
  height:64px;
}
#u20278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:997px;
  width:1724px;
  height:64px;
}
#u20278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u20280 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:105px;
  width:91px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u20280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  white-space:nowrap;
}
#u20281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20281 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:105px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20281_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u20282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20283 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:184px;
  width:85px;
  height:16px;
}
#u20283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u20284 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:175px;
  width:442px;
  height:36px;
  overflow:hidden;
}
#u20284_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20284_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:36px;
}
#u20285_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 151, 239, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20285.mouseOver {
}
#u20285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20286 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:2px;
  width:428px;
  height:29px;
}
#u20286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20287 {
  position:absolute;
  left:0px;
  top:38px;
  visibility:hidden;
}
#u20287_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:442px;
  height:172px;
  background-image:none;
}
#u20287_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20288_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:458px;
  height:188px;
}
#u20288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:172px;
}
#u20288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20289 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:10px;
  width:207px;
  height:25px;
}
#u20289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:36px;
}
#u20290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:442px;
  height:36px;
  text-align:left;
}
#u20290_img.mouseOver {
}
#u20290.mouseOver {
}
#u20290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:438px;
  word-wrap:break-word;
}
#u20291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:36px;
}
#u20291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:442px;
  height:36px;
  text-align:left;
}
#u20291_img.mouseOver {
}
#u20291.mouseOver {
}
#u20291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:438px;
  word-wrap:break-word;
}
#u20292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:36px;
}
#u20292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:442px;
  height:36px;
  text-align:left;
}
#u20292_img.mouseOver {
}
#u20292.mouseOver {
}
#u20292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:438px;
  word-wrap:break-word;
}
#u20293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:36px;
}
#u20293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:442px;
  height:36px;
  text-align:left;
}
#u20293_img.mouseOver {
}
#u20293.mouseOver {
}
#u20293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:438px;
  word-wrap:break-word;
}
#u20294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u20294 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:12px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20296 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:247px;
  width:119px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:119px;
  white-space:nowrap;
}
#u20297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u20297 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:247px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u20297_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u20298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20299 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:317px;
  width:88px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  white-space:nowrap;
}
#u20300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u20300 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:317px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u20300_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u20301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20302 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:388px;
  width:98px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:98px;
  white-space:nowrap;
}
#u20303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(102, 102, 102, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20303 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:388px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(102, 102, 102, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u20303_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u20304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u20306 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:458px;
  width:440px;
  height:72px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u20306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:5px;
}
#u20307 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:520px;
  width:14px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u20307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20308 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:458px;
  width:43px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u20308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
