body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1712px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21561 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:271px;
  height:18px;
  color:#666666;
}
#u21561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u21562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1705px;
  height:2px;
}
#u21562 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:32px;
  width:1704px;
  height:1px;
}
#u21562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21564 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:208px;
  width:278px;
  height:44px;
}
#u21564_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 151, 239, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21564.mouseOver {
}
#u21564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21565 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:218px;
  width:73px;
  height:16px;
}
#u21565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u21566 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:211px;
  width:262px;
  height:35px;
}
#u21566_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u21567 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:721px;
  width:98px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u21567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u21568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u21568 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:721px;
  width:98px;
  height:40px;
  font-size:14px;
  color:#999999;
}
#u21568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u21569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21570 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:276px;
  width:278px;
  height:44px;
}
#u21570_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 151, 239, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21570.mouseOver {
}
#u21570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21571 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:286px;
  width:86px;
  height:16px;
}
#u21571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u21572 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:279px;
  width:262px;
  height:35px;
}
#u21572_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21574 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:351px;
  width:278px;
  height:44px;
}
#u21574_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 151, 239, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21574.mouseOver {
}
#u21574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21575 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:361px;
  width:102px;
  height:16px;
}
#u21575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u21576 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:354px;
  width:262px;
  height:35px;
}
#u21576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21577 {
  position:absolute;
  left:743px;
  top:148px;
}
#u21577_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background-image:none;
}
#u21577_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u21579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u21579_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u21580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21580 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:3px;
  width:18px;
  height:18px;
  text-align:left;
}
#u21580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21577_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  visibility:hidden;
  background-image:none;
}
#u21577_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.247058823529412);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
#u21582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
#u21582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u21583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  height:18px;
  text-align:left;
}
#u21583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21584 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:151px;
  width:127px;
  height:16px;
}
#u21584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u21585 {
  position:absolute;
  left:743px;
  top:427px;
}
#u21585_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background-image:none;
}
#u21585_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u21587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u21587_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u21588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21588 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:3px;
  width:18px;
  height:18px;
  text-align:left;
}
#u21588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21585_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  visibility:hidden;
  background-image:none;
}
#u21585_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.247058823529412);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
#u21590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
#u21590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u21591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  height:18px;
  text-align:left;
}
#u21591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21592 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:430px;
  width:127px;
  height:16px;
}
#u21592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
