body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1726px;
  height:814px;
}
#u14429_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1726px;
  height:814px;
  overflow:auto;
}
