body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1726px;
  height:814px;
  overflow:hidden;
}
#u21435_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1726px;
  height:814px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u21435_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21436 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:149px;
  height:16px;
}
#u21436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u21437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1705px;
  height:2px;
}
#u21437 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:32px;
  width:1704px;
  height:1px;
}
#u21437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u21438 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:408px;
  width:72px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u21438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u21439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21439 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:408px;
  width:72px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u21439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u21440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21440 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:6px;
  width:88px;
  height:16px;
  color:#666666;
}
#u21440_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21440.mouseOver {
}
#u21440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u21441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u21441 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:6px;
  width:134px;
  height:16px;
  color:#999999;
}
#u21441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u21442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1724px;
  height:64px;
}
#u21442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:997px;
  width:1724px;
  height:64px;
}
#u21442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u21444 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:120px;
  width:105px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u21444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:105px;
  white-space:nowrap;
}
#u21445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21445 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:120px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u21445_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u21446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u21448 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:189px;
  width:440px;
  height:72px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u21448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:5px;
}
#u21449 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:251px;
  width:14px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u21449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21450 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:189px;
  width:43px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u21450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  white-space:nowrap;
}
