body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16991 {
  position:fixed;
  left:50%;
  margin-left:-318px;
  top:50%;
  margin-top:-212px;
  touch-action:none;
}
#u16991_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:636px;
  height:424px;
  background-image:none;
}
#u16991_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16993_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:652px;
  height:440px;
}
#u16993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:424px;
}
#u16993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:415px;
}
#u16994 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:3px;
  width:620px;
  height:415px;
}
#u16994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u16995 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:9px;
  width:80px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u16995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u16997 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:17px;
  width:47px;
  height:16px;
  color:#666666;
}
#u16997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u16998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u16998 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:19px;
  width:12px;
  height:14px;
  color:#666666;
}
#u16998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:40px;
  background:inherit;
  background-color:rgba(75, 178, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16999 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:57px;
  width:585px;
  height:40px;
}
#u16999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17000 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:69px;
  width:81px;
  height:16px;
  color:#FFFFFF;
}
#u17000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u17001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17001 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:69px;
  width:81px;
  height:16px;
  color:#FFFFFF;
}
#u17001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u17002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17002 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:69px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u17002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u17003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17003 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:69px;
  width:112px;
  height:16px;
  color:#FFFFFF;
}
#u17003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u17004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17004 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:69px;
  width:72px;
  height:16px;
  color:#FFFFFF;
}
#u17004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u17005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17005 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:69px;
  width:46px;
  height:16px;
  color:#FFFFFF;
}
#u17005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
.u17007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u17008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u17008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:43px;
}
.u17008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u17009 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:14px;
  width:90px;
  height:16px;
  color:#666666;
}
.u17009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
.u17010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u17010 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:14px;
  width:30px;
  height:16px;
  color:#666666;
}
.u17010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
.u17011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u17011 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:14px;
  width:30px;
  height:16px;
  color:#666666;
}
.u17011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
.u17012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u17012 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:14px;
  width:61px;
  height:16px;
  color:#666666;
}
.u17012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
.u17013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u17013 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:14px;
  width:61px;
  height:16px;
  color:#666666;
}
.u17013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
.u17014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u17014 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:14px;
  width:33px;
  height:16px;
  color:#666666;
}
.u17014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u17006-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:43px;
}
#u17006-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:586px;
  height:43px;
}
#u17006-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:586px;
  height:43px;
}
#u17006-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:586px;
  height:43px;
}
#u17006-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:586px;
  height:43px;
}
#u17006-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:586px;
  height:43px;
}
#u17006-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:586px;
  height:43px;
}
#u17006 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:97px;
  width:586px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
