body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1712px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21517 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:271px;
  height:18px;
  color:#666666;
}
#u21517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u21518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1705px;
  height:2px;
}
#u21518 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:32px;
  width:1704px;
  height:1px;
}
#u21518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21519 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:101px;
  width:150px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
