body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22519 {
  position:absolute;
  left:500px;
  top:80px;
  touch-action:none;
}
#u22519_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:395px;
  height:368px;
  background-image:none;
}
#u22519_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22520_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:411px;
  height:384px;
}
#u22520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:368px;
}
#u22520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:352px;
}
#u22521 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:375px;
  height:352px;
}
#u22521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22523 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:15px;
  width:47px;
  height:16px;
  color:#666666;
}
#u22523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u22524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u22524 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:19px;
  width:12px;
  height:14px;
  color:#666666;
}
#u22524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22525 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:15px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u22526 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:58px;
  width:360px;
  height:284px;
  overflow:hidden;
}
#u22526_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:284px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22526_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22527 {
  position:absolute;
  left:16px;
  top:19px;
  touch-action:none;
}
#u22527_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22527_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22529_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22530 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u22531 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:32px;
  height:33px;
  color:#797979;
}
#u22531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22532 {
  position:absolute;
  left:16px;
  top:130px;
  touch-action:none;
}
#u22532_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22532_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22534_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22535 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u22537 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:30px;
  width:29px;
  height:16px;
  color:#797979;
}
#u22537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
}
#u22538 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:34px;
  width:19px;
  height:8px;
  color:#797979;
}
#u22538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u22539 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:16px;
  height:19px;
  color:#797979;
}
#u22539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u22540 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:17px;
  width:20px;
  height:16px;
  color:#797979;
}
#u22540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u22541 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:8px;
  height:12px;
  color:#797979;
}
#u22541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22542 {
  position:absolute;
  left:277px;
  top:19px;
  touch-action:none;
}
#u22542_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22542_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22544_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22545 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u22547 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:30px;
  height:32px;
  color:#797979;
}
#u22547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:5px;
}
#u22548 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:32px;
  width:23px;
  height:5px;
  color:#797979;
}
#u22548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22549 {
  position:absolute;
  left:147px;
  top:130px;
  touch-action:none;
}
#u22549_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22549_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22551_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22552 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22553 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:17px;
  width:30px;
  height:30px;
  color:#797979;
}
#u22553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22554 {
  position:absolute;
  left:147px;
  top:19px;
  touch-action:none;
}
#u22554_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22554_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22556_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22557 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u22559 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:23px;
  width:13px;
  height:14px;
  color:#797979;
}
#u22559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u22560 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:29px;
  height:29px;
  color:#797979;
}
#u22560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u22561 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:37px;
  width:12px;
  height:10px;
  color:#797979;
}
#u22561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u22562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:360px;
  height:1px;
}
#u22562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(35, 160, 253, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22563 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:253px;
  width:104px;
  height:31px;
  color:#FFFFFF;
}
#u22563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u22526_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:284px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22526_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:283px;
  overflow:hidden;
}
#u22564_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:283px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22564_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:617px;
}
#u22565 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:21px;
  width:1px;
  height:616px;
}
#u22565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22566 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:436px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22567 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:533px;
  width:10px;
  height:10px;
}
#u22567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22568 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:637px;
  width:10px;
  height:10px;
}
#u22568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22569 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:348px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22570 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:254px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22571 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:167px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22572 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:11px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22573 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:5px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22574 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:161px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22575 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:248px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22576 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:342px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22577 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:430px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22578 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:527px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22579 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:631px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22580 {
  position:absolute;
  left:52px;
  top:37px;
  touch-action:none;
}
#u22580_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22580_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22582_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22582 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22584 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(35, 160, 253, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22585 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:738px;
  width:104px;
  height:31px;
  color:#FFFFFF;
}
#u22585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u22586 {
  position:absolute;
  left:114px;
  top:37px;
  touch-action:none;
}
#u22586_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22586_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22588_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22588 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22590 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22591 {
  position:absolute;
  left:52px;
  top:462px;
  touch-action:none;
}
#u22591_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22591_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22593_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22593 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22595 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22596 {
  position:absolute;
  left:122px;
  top:462px;
  touch-action:none;
}
#u22596_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22596_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22598_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22598 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22600 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22601 {
  position:absolute;
  left:52px;
  top:101px;
  touch-action:none;
}
#u22601_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22601_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22603_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22603 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22605 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22606 {
  position:absolute;
  left:121px;
  top:101px;
  touch-action:none;
}
#u22606_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22606_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22608_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22608 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22610 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22611 {
  position:absolute;
  left:52px;
  top:193px;
  touch-action:none;
}
#u22611_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22611_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22613_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22613 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22615 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22616 {
  position:absolute;
  left:114px;
  top:193px;
  touch-action:none;
}
#u22616_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22616_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22618_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22618 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22620 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22621 {
  position:absolute;
  left:183px;
  top:193px;
  touch-action:none;
}
#u22621_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22621_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22623_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22623 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22625 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22626 {
  position:absolute;
  left:52px;
  top:270px;
  touch-action:none;
}
#u22626_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22626_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22628_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22628 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22630 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22631 {
  position:absolute;
  left:114px;
  top:270px;
  touch-action:none;
}
#u22631_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22631_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22633_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22633 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22635 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22636 {
  position:absolute;
  left:52px;
  top:364px;
  touch-action:none;
}
#u22636_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22636_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22638_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22638 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22640 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22641 {
  position:absolute;
  left:114px;
  top:364px;
  touch-action:none;
}
#u22641_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22641_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22643_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22643 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22645 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22646 {
  position:absolute;
  left:52px;
  top:559px;
  touch-action:none;
}
#u22646_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22646_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22648_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22648 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22650 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22651 {
  position:absolute;
  left:122px;
  top:559px;
  touch-action:none;
}
#u22651_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22651_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22653_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22653 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22655 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22656 {
  position:absolute;
  left:52px;
  top:663px;
  touch-action:none;
}
#u22656_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22656_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22658_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22658 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22660 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22661 {
  position:absolute;
  left:122px;
  top:663px;
  touch-action:none;
}
#u22661_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22661_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22663_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22663 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22665 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
