body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24228 {
  position:absolute;
  left:500px;
  top:80px;
  touch-action:none;
}
#u24228_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:395px;
  height:368px;
  background-image:none;
}
#u24228_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24229_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:411px;
  height:384px;
}
#u24229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:368px;
}
#u24229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:352px;
}
#u24230 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:375px;
  height:352px;
}
#u24230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u24232 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:15px;
  width:47px;
  height:16px;
  color:#666666;
}
#u24232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u24233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u24233 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:19px;
  width:12px;
  height:14px;
  color:#666666;
}
#u24233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24234 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:15px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u24235 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:58px;
  width:360px;
  height:284px;
  overflow:hidden;
}
#u24235_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:284px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24236 {
  position:absolute;
  left:16px;
  top:19px;
  touch-action:none;
}
#u24236_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u24236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24238_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u24238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u24238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24239 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u24239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u24240 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:32px;
  height:33px;
  color:#797979;
}
#u24240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24241 {
  position:absolute;
  left:16px;
  top:130px;
  touch-action:none;
}
#u24241_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u24241_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24243_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u24243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u24243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24244 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u24244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u24246 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:30px;
  width:29px;
  height:16px;
  color:#797979;
}
#u24246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
}
#u24247 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:34px;
  width:19px;
  height:8px;
  color:#797979;
}
#u24247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u24248 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:16px;
  height:19px;
  color:#797979;
}
#u24248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u24249 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:17px;
  width:20px;
  height:16px;
  color:#797979;
}
#u24249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u24250 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:8px;
  height:12px;
  color:#797979;
}
#u24250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24251 {
  position:absolute;
  left:277px;
  top:19px;
  touch-action:none;
}
#u24251_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u24251_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24253_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u24253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u24253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24254 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u24254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u24256 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:30px;
  height:32px;
  color:#797979;
}
#u24256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:5px;
}
#u24257 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:32px;
  width:23px;
  height:5px;
  color:#797979;
}
#u24257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24258 {
  position:absolute;
  left:147px;
  top:130px;
  touch-action:none;
}
#u24258_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u24258_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24260_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u24260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u24260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24261 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u24261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24262 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:17px;
  width:30px;
  height:30px;
  color:#797979;
}
#u24262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24263 {
  position:absolute;
  left:147px;
  top:19px;
  touch-action:none;
}
#u24263_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u24263_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24265_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u24265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u24265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24266 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u24266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u24268 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:23px;
  width:13px;
  height:14px;
  color:#797979;
}
#u24268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u24269 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:29px;
  height:29px;
  color:#797979;
}
#u24269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u24270 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:37px;
  width:12px;
  height:10px;
  color:#797979;
}
#u24270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u24271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:360px;
  height:1px;
}
#u24271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(35, 160, 253, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24272 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:253px;
  width:104px;
  height:31px;
  color:#FFFFFF;
}
#u24272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u24235_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:284px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24235_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:283px;
  overflow:hidden;
}
#u24273_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:283px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u24273_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:617px;
}
#u24274 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:21px;
  width:1px;
  height:616px;
}
#u24274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24275 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:436px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u24275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24276 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:533px;
  width:10px;
  height:10px;
}
#u24276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24277 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:637px;
  width:10px;
  height:10px;
}
#u24277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24278 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:348px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u24278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24279 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:254px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u24279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24280 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:167px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u24280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24281 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:11px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u24281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24282 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:5px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u24283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24283 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:161px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u24284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24284 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:248px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u24285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24285 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:342px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u24286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24286 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:430px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u24287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24287 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:527px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u24288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24288 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:631px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u24288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u24289 {
  position:absolute;
  left:52px;
  top:37px;
  touch-action:none;
}
#u24289_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24289_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24291_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24291 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24293 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(35, 160, 253, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24294 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:738px;
  width:104px;
  height:31px;
  color:#FFFFFF;
}
#u24294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u24295 {
  position:absolute;
  left:114px;
  top:37px;
  touch-action:none;
}
#u24295_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24295_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24297_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24297 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24299 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24300 {
  position:absolute;
  left:52px;
  top:462px;
  touch-action:none;
}
#u24300_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24300_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24302_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24302 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24304 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24305 {
  position:absolute;
  left:122px;
  top:462px;
  touch-action:none;
}
#u24305_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24305_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24307_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24307 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24309 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24310 {
  position:absolute;
  left:52px;
  top:101px;
  touch-action:none;
}
#u24310_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24310_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24312_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24312 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24314 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24315 {
  position:absolute;
  left:121px;
  top:101px;
  touch-action:none;
}
#u24315_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24315_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24317_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24317 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24319 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24320 {
  position:absolute;
  left:52px;
  top:193px;
  touch-action:none;
}
#u24320_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24320_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24322_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24322 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24324 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24325 {
  position:absolute;
  left:114px;
  top:193px;
  touch-action:none;
}
#u24325_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24325_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24327_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24327 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24329 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24330 {
  position:absolute;
  left:183px;
  top:193px;
  touch-action:none;
}
#u24330_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24330_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24332_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24332 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24334 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24335 {
  position:absolute;
  left:52px;
  top:270px;
  touch-action:none;
}
#u24335_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24335_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24337_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24337 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24339 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24340 {
  position:absolute;
  left:114px;
  top:270px;
  touch-action:none;
}
#u24340_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24340_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24342_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24342 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24344 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24345 {
  position:absolute;
  left:52px;
  top:364px;
  touch-action:none;
}
#u24345_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24345_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24347_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24347 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24349 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24350 {
  position:absolute;
  left:114px;
  top:364px;
  touch-action:none;
}
#u24350_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24350_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24352_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24352 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24354 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24355 {
  position:absolute;
  left:52px;
  top:559px;
  touch-action:none;
}
#u24355_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24355_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24357_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24357 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24359 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24360 {
  position:absolute;
  left:122px;
  top:559px;
  touch-action:none;
}
#u24360_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24360_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24362_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24362 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24364 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24365 {
  position:absolute;
  left:52px;
  top:663px;
  touch-action:none;
}
#u24365_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24365_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24367_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24367 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24369 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24370 {
  position:absolute;
  left:122px;
  top:663px;
  touch-action:none;
}
#u24370_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u24370_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24372_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u24372 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u24372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u24373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24374 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u24374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
