body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22595 {
  position:absolute;
  left:500px;
  top:80px;
  touch-action:none;
}
#u22595_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:395px;
  height:368px;
  background-image:none;
}
#u22595_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22596_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:411px;
  height:384px;
}
#u22596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:368px;
}
#u22596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:352px;
}
#u22597 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:375px;
  height:352px;
}
#u22597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u22599 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:15px;
  width:47px;
  height:16px;
  color:#666666;
}
#u22599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u22600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u22600 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:19px;
  width:12px;
  height:14px;
  color:#666666;
}
#u22600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22601 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:15px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u22602 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:58px;
  width:360px;
  height:284px;
  overflow:hidden;
}
#u22602_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:284px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22602_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22603 {
  position:absolute;
  left:16px;
  top:19px;
  touch-action:none;
}
#u22603_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22603_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22605_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22606 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u22607 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:32px;
  height:33px;
  color:#797979;
}
#u22607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22608 {
  position:absolute;
  left:16px;
  top:130px;
  touch-action:none;
}
#u22608_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22608_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22610_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22611 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u22613 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:30px;
  width:29px;
  height:16px;
  color:#797979;
}
#u22613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
}
#u22614 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:34px;
  width:19px;
  height:8px;
  color:#797979;
}
#u22614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u22615 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:16px;
  height:19px;
  color:#797979;
}
#u22615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u22616 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:17px;
  width:20px;
  height:16px;
  color:#797979;
}
#u22616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u22617 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:8px;
  height:12px;
  color:#797979;
}
#u22617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22618 {
  position:absolute;
  left:277px;
  top:19px;
  touch-action:none;
}
#u22618_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22618_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22620_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22621 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u22623 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:30px;
  height:32px;
  color:#797979;
}
#u22623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:5px;
}
#u22624 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:32px;
  width:23px;
  height:5px;
  color:#797979;
}
#u22624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22625 {
  position:absolute;
  left:147px;
  top:130px;
  touch-action:none;
}
#u22625_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22625_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22627_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22628 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22629 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:17px;
  width:30px;
  height:30px;
  color:#797979;
}
#u22629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22630 {
  position:absolute;
  left:147px;
  top:19px;
  touch-action:none;
}
#u22630_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u22630_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22632_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u22632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u22632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22633 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u22633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u22635 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:23px;
  width:13px;
  height:14px;
  color:#797979;
}
#u22635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u22636 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:29px;
  height:29px;
  color:#797979;
}
#u22636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u22637 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:37px;
  width:12px;
  height:10px;
  color:#797979;
}
#u22637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u22638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:360px;
  height:1px;
}
#u22638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(35, 160, 253, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22639 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:253px;
  width:104px;
  height:31px;
  color:#FFFFFF;
}
#u22639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u22602_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:284px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22602_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:283px;
  overflow:hidden;
}
#u22640_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:283px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22640_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:617px;
}
#u22641 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:21px;
  width:1px;
  height:616px;
}
#u22641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22642 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:436px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22643 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:533px;
  width:10px;
  height:10px;
}
#u22643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22644 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:637px;
  width:10px;
  height:10px;
}
#u22644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22645 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:348px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22646 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:254px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22647 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:167px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22648 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:11px;
  width:10px;
  height:10px;
  color:#1890FF;
}
#u22648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22649 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:5px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22650 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:161px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22651 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:248px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22652 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:342px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22653 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:430px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22654 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:527px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22655 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:631px;
  width:107px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u22655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u22656 {
  position:absolute;
  left:52px;
  top:37px;
  touch-action:none;
}
#u22656_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22656_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22658_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22658 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22660 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
  background:inherit;
  background-color:rgba(35, 160, 253, 1);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22661 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:738px;
  width:104px;
  height:31px;
  color:#FFFFFF;
}
#u22661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u22662 {
  position:absolute;
  left:114px;
  top:37px;
  touch-action:none;
}
#u22662_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22662_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22664_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22664 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22666 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22667 {
  position:absolute;
  left:52px;
  top:462px;
  touch-action:none;
}
#u22667_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22667_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22669_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22669 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22671 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22672 {
  position:absolute;
  left:122px;
  top:462px;
  touch-action:none;
}
#u22672_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22672_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22674_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22674 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22676 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22677 {
  position:absolute;
  left:52px;
  top:101px;
  touch-action:none;
}
#u22677_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22677_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22679_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22679 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22681 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22682 {
  position:absolute;
  left:121px;
  top:101px;
  touch-action:none;
}
#u22682_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22682_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22684_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22684 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22686 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22687 {
  position:absolute;
  left:52px;
  top:193px;
  touch-action:none;
}
#u22687_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22687_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22689_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22689 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22691 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22692 {
  position:absolute;
  left:114px;
  top:193px;
  touch-action:none;
}
#u22692_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22692_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22694_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22694 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22696 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22697 {
  position:absolute;
  left:183px;
  top:193px;
  touch-action:none;
}
#u22697_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22697_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22699_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22699 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22701 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22702 {
  position:absolute;
  left:52px;
  top:270px;
  touch-action:none;
}
#u22702_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22702_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22704_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22704 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22706 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22707 {
  position:absolute;
  left:114px;
  top:270px;
  touch-action:none;
}
#u22707_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22707_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22709_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22709 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22711 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22712 {
  position:absolute;
  left:52px;
  top:364px;
  touch-action:none;
}
#u22712_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22712_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22714_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22714 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22716 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22717 {
  position:absolute;
  left:114px;
  top:364px;
  touch-action:none;
}
#u22717_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22717_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22719_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22719 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22721 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22722 {
  position:absolute;
  left:52px;
  top:559px;
  touch-action:none;
}
#u22722_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22722_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22724_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22724 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22726 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22727 {
  position:absolute;
  left:122px;
  top:559px;
  touch-action:none;
}
#u22727_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22727_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22729_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22729 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22731 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22732 {
  position:absolute;
  left:52px;
  top:663px;
  touch-action:none;
}
#u22732_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22732_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22734_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22734 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22736 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22737 {
  position:absolute;
  left:122px;
  top:663px;
  touch-action:none;
}
#u22737_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background-image:none;
}
#u22737_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22739_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:34px;
  height:34px;
}
#u22739 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:30px;
  height:30px;
  font-size:28px;
  color:#FFFFFF;
}
#u22739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u22740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22741 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:7px;
  width:15px;
  height:15px;
  color:#797979;
}
#u22741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
