body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23121 {
  position:absolute;
  left:500px;
  top:80px;
  touch-action:none;
}
#u23121_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:348px;
  height:540px;
  background-image:none;
}
#u23121_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23122_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:364px;
  height:556px;
}
#u23122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:540px;
}
#u23122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:513px;
}
#u23123 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:317px;
  height:513px;
}
#u23123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u23125 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:15px;
  width:47px;
  height:16px;
  color:#666666;
}
#u23125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u23126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u23126 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:18px;
  width:12px;
  height:14px;
  color:#666666;
}
#u23126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23127 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:15px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u23128 {
  position:absolute;
  left:332px;
  top:-16px;
  visibility:hidden;
}
#u23128_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background-image:none;
}
#u23128_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23131_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:43px;
  height:43px;
}
#u23131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u23131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23132 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:15px;
  height:15px;
  color:#797979;
}
#u23132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23133 {
  position:absolute;
  left:17px;
  top:40px;
  visibility:hidden;
}
#u23133_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:161px;
  background-image:none;
}
#u23133_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23134_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:144px;
  height:177px;
}
#u23134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:161px;
}
#u23134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u23136 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:100px;
  width:14px;
  height:2px;
  color:#797979;
}
#u23136_img.mouseOver {
}
#u23136.mouseOver {
}
#u23136_img.selected {
}
#u23136.selected {
}
#u23136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23137 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:91px;
  width:55px;
  height:16px;
  color:#797979;
}
#u23137_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23137.mouseOver {
}
#u23137_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23137.selected {
}
#u23137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u23138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u23139 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:125px;
  width:13px;
  height:13px;
  color:#797979;
}
#u23139_img.mouseOver {
}
#u23139.mouseOver {
}
#u23139_img.selected {
}
#u23139.selected {
}
#u23139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23140 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:123px;
  width:55px;
  height:16px;
  color:#797979;
}
#u23140_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23140.mouseOver {
}
#u23140_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23140.selected {
}
#u23140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u23141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23142 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:20px;
  width:20px;
  height:20px;
  color:#797979;
}
#u23142_img.mouseOver {
}
#u23142.mouseOver {
}
#u23142_img.selected {
}
#u23142.selected {
}
#u23142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23143 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:20px;
  width:45px;
  height:16px;
  color:#797979;
}
#u23143_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23143.mouseOver {
}
#u23143_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23143.selected {
}
#u23143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u23144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1px;
}
#u23146 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:56px;
  width:5px;
  height:1px;
  color:#797979;
}
#u23146_img.mouseOver {
}
#u23146.mouseOver {
}
#u23146_img.selected {
}
#u23146.selected {
}
#u23146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:5px;
}
#u23147 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:56px;
  width:20px;
  height:5px;
  color:#797979;
}
#u23147_img.mouseOver {
}
#u23147.mouseOver {
}
#u23147_img.selected {
}
#u23147.selected {
}
#u23147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
}
#u23148 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:56px;
  width:5px;
  height:20px;
  color:#797979;
}
#u23148_img.mouseOver {
}
#u23148.mouseOver {
}
#u23148_img.selected {
}
#u23148.selected {
}
#u23148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:5px;
}
#u23149 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:71px;
  width:20px;
  height:5px;
  color:#797979;
}
#u23149_img.mouseOver {
}
#u23149.mouseOver {
}
#u23149_img.selected {
}
#u23149.selected {
}
#u23149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1px;
}
#u23150 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:75px;
  width:5px;
  height:1px;
  color:#797979;
}
#u23150_img.mouseOver {
}
#u23150.mouseOver {
}
#u23150_img.selected {
}
#u23150.selected {
}
#u23150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23151 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:56px;
  width:55px;
  height:16px;
  color:#797979;
}
#u23151_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23151.mouseOver {
}
#u23151_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u23151.selected {
}
#u23151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u23152 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:16px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23153 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:50px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23154 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:85px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23155 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:119px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23156 {
  position:absolute;
  left:20px;
  top:59px;
  touch-action:none;
}
#u23156_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23156_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23158_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:60px;
  word-wrap:break-word;
}
#u23159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23159 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23161 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23162 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23163 {
  position:absolute;
  left:20px;
  top:178px;
  touch-action:none;
}
#u23163_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23163_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23165_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23166 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u23167 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:32px;
  height:33px;
  color:#797979;
}
#u23167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23169 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23170 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23171 {
  position:absolute;
  left:132px;
  top:60px;
  touch-action:none;
}
#u23171_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23171_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23173_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23174 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u23176 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:30px;
  width:29px;
  height:16px;
  color:#797979;
}
#u23176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
}
#u23177 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:34px;
  width:19px;
  height:8px;
  color:#797979;
}
#u23177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u23178 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:16px;
  height:19px;
  color:#797979;
}
#u23178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u23179 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:17px;
  width:20px;
  height:16px;
  color:#797979;
}
#u23179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u23180 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:8px;
  height:12px;
  color:#797979;
}
#u23180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23182 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23183 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23184 {
  position:absolute;
  left:132px;
  top:178px;
  touch-action:none;
}
#u23184_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23184_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23186_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23187 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u23189 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:25px;
  height:30px;
  color:#797979;
}
#u23189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u23190 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:26px;
  width:31px;
  height:23px;
  color:#797979;
}
#u23190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u23191 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:14px;
  height:11px;
  color:#797979;
}
#u23191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23193 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23194 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23195 {
  position:absolute;
  left:20px;
  top:416px;
  touch-action:none;
}
#u23195_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23195_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23197_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23198 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u23200 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:30px;
  height:32px;
  color:#797979;
}
#u23200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:5px;
}
#u23201 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:32px;
  width:23px;
  height:5px;
  color:#797979;
}
#u23201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23203 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23204 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23205 {
  position:absolute;
  left:131px;
  top:417px;
  touch-action:none;
}
#u23205_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23205_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23207_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23208 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u23210 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:20px;
  width:32px;
  height:25px;
  color:#797979;
}
#u23210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u23211 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:15px;
  width:23px;
  height:24px;
  color:#797979;
}
#u23211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23213 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23214 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23215 {
  position:absolute;
  left:247px;
  top:416px;
  touch-action:none;
}
#u23215_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:72px;
  height:87px;
  background-image:none;
}
#u23215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23217_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23217 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:64px;
  height:63px;
  font-family:'Arial Unicode MS Normal', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u23217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u23218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23218 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:71px;
  width:71px;
  height:16px;
}
#u23218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23219 {
  position:absolute;
  left:247px;
  top:177px;
  touch-action:none;
}
#u23219_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23219_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23221_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23222 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23223 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:17px;
  width:30px;
  height:30px;
  color:#797979;
}
#u23223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23225 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23226 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23227 {
  position:absolute;
  left:247px;
  top:59px;
  touch-action:none;
}
#u23227_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23227_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23229_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23230 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u23231 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:32px;
  height:30px;
  color:#797979;
}
#u23231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23233 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23234 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23235 {
  position:absolute;
  left:132px;
  top:297px;
  touch-action:none;
}
#u23235_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23237_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23238 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u23240 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:35px;
  height:31px;
  color:#797979;
}
#u23240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u23241 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:26px;
  width:18px;
  height:18px;
  color:#797979;
}
#u23241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23243 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23244 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23245 {
  position:absolute;
  left:247px;
  top:297px;
  touch-action:none;
}
#u23245_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23245_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23247_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23248 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u23250 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:32px;
  height:23px;
  color:#797979;
}
#u23250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u23251 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:23px;
  width:32px;
  height:21px;
  color:#797979;
}
#u23251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23253 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23254 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23255 {
  position:absolute;
  left:20px;
  top:298px;
  touch-action:none;
}
#u23255_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u23255_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23257_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u23257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u23257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23258 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u23258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u23260 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:23px;
  width:13px;
  height:14px;
  color:#797979;
}
#u23260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u23261 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:29px;
  height:29px;
  color:#797979;
}
#u23261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u23262 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:37px;
  width:12px;
  height:10px;
  color:#797979;
}
#u23262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23264 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u23264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23265 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u23265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
