body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21599 {
  position:absolute;
  left:500px;
  top:80px;
  touch-action:none;
}
#u21599_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:348px;
  height:540px;
  background-image:none;
}
#u21599_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21600_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:364px;
  height:556px;
}
#u21600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:540px;
}
#u21600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:513px;
}
#u21601 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:317px;
  height:513px;
}
#u21601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u21603 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:15px;
  width:47px;
  height:16px;
  color:#666666;
}
#u21603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u21604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u21604 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:18px;
  width:12px;
  height:14px;
  color:#666666;
}
#u21604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u21605 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:15px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u21605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u21606 {
  position:absolute;
  left:332px;
  top:-16px;
  visibility:hidden;
}
#u21606_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background-image:none;
}
#u21606_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21609_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:43px;
  height:43px;
}
#u21609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21610 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:15px;
  height:15px;
  color:#797979;
}
#u21610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21611 {
  position:absolute;
  left:17px;
  top:40px;
  visibility:hidden;
}
#u21611_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:161px;
  background-image:none;
}
#u21611_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21612_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:144px;
  height:177px;
}
#u21612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:161px;
}
#u21612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u21614 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:100px;
  width:14px;
  height:2px;
  color:#797979;
}
#u21614_img.mouseOver {
}
#u21614.mouseOver {
}
#u21614_img.selected {
}
#u21614.selected {
}
#u21614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21615 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:91px;
  width:55px;
  height:16px;
  color:#797979;
}
#u21615_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21615.mouseOver {
}
#u21615_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21615.selected {
}
#u21615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u21616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u21617 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:125px;
  width:13px;
  height:13px;
  color:#797979;
}
#u21617_img.mouseOver {
}
#u21617.mouseOver {
}
#u21617_img.selected {
}
#u21617.selected {
}
#u21617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21618 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:123px;
  width:55px;
  height:16px;
  color:#797979;
}
#u21618_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21618.mouseOver {
}
#u21618_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21618.selected {
}
#u21618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u21619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21620 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:20px;
  width:20px;
  height:20px;
  color:#797979;
}
#u21620_img.mouseOver {
}
#u21620.mouseOver {
}
#u21620_img.selected {
}
#u21620.selected {
}
#u21620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21621 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:20px;
  width:45px;
  height:16px;
  color:#797979;
}
#u21621_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21621.mouseOver {
}
#u21621_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21621.selected {
}
#u21621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u21622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1px;
}
#u21624 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:56px;
  width:5px;
  height:1px;
  color:#797979;
}
#u21624_img.mouseOver {
}
#u21624.mouseOver {
}
#u21624_img.selected {
}
#u21624.selected {
}
#u21624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:5px;
}
#u21625 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:56px;
  width:20px;
  height:5px;
  color:#797979;
}
#u21625_img.mouseOver {
}
#u21625.mouseOver {
}
#u21625_img.selected {
}
#u21625.selected {
}
#u21625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
}
#u21626 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:56px;
  width:5px;
  height:20px;
  color:#797979;
}
#u21626_img.mouseOver {
}
#u21626.mouseOver {
}
#u21626_img.selected {
}
#u21626.selected {
}
#u21626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:5px;
}
#u21627 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:71px;
  width:20px;
  height:5px;
  color:#797979;
}
#u21627_img.mouseOver {
}
#u21627.mouseOver {
}
#u21627_img.selected {
}
#u21627.selected {
}
#u21627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1px;
}
#u21628 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:75px;
  width:5px;
  height:1px;
  color:#797979;
}
#u21628_img.mouseOver {
}
#u21628.mouseOver {
}
#u21628_img.selected {
}
#u21628.selected {
}
#u21628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21629 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:56px;
  width:55px;
  height:16px;
  color:#797979;
}
#u21629_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21629.mouseOver {
}
#u21629_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u21629.selected {
}
#u21629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u21630 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:16px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21631 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:50px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21632 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:85px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21633 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:119px;
  width:108px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21634 {
  position:absolute;
  left:20px;
  top:59px;
  touch-action:none;
}
#u21634_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21634_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21636_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:60px;
  word-wrap:break-word;
}
#u21637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21637 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21639 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21640 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21641 {
  position:absolute;
  left:20px;
  top:178px;
  touch-action:none;
}
#u21641_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21641_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21643_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21644 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u21645 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:32px;
  height:33px;
  color:#797979;
}
#u21645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21647 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21648 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21649 {
  position:absolute;
  left:132px;
  top:60px;
  touch-action:none;
}
#u21649_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21649_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21651_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21652 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u21654 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:30px;
  width:29px;
  height:16px;
  color:#797979;
}
#u21654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
}
#u21655 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:34px;
  width:19px;
  height:8px;
  color:#797979;
}
#u21655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u21656 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:16px;
  height:19px;
  color:#797979;
}
#u21656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u21657 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:17px;
  width:20px;
  height:16px;
  color:#797979;
}
#u21657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u21658 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:8px;
  height:12px;
  color:#797979;
}
#u21658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21660 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21661 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21662 {
  position:absolute;
  left:132px;
  top:178px;
  touch-action:none;
}
#u21662_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21662_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21664_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21665 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u21667 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:25px;
  height:30px;
  color:#797979;
}
#u21667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u21668 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:26px;
  width:31px;
  height:23px;
  color:#797979;
}
#u21668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u21669 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:14px;
  height:11px;
  color:#797979;
}
#u21669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21671 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21672 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21673 {
  position:absolute;
  left:20px;
  top:416px;
  touch-action:none;
}
#u21673_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21673_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21675_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21676 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u21678 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:30px;
  height:32px;
  color:#797979;
}
#u21678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:5px;
}
#u21679 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:32px;
  width:23px;
  height:5px;
  color:#797979;
}
#u21679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21681 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21682 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21683 {
  position:absolute;
  left:131px;
  top:417px;
  touch-action:none;
}
#u21683_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21683_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21685_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21686 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u21688 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:20px;
  width:32px;
  height:25px;
  color:#797979;
}
#u21688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u21689 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:15px;
  width:23px;
  height:24px;
  color:#797979;
}
#u21689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21691 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21692 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21693 {
  position:absolute;
  left:247px;
  top:416px;
  touch-action:none;
}
#u21693_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:72px;
  height:87px;
  background-image:none;
}
#u21693_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21695_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21695 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:64px;
  height:63px;
  font-family:'Arial Unicode MS Normal', 'Arial Unicode MS';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u21695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u21696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21696 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:71px;
  width:71px;
  height:16px;
}
#u21696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21697 {
  position:absolute;
  left:247px;
  top:177px;
  touch-action:none;
}
#u21697_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21697_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21699_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21700 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21701 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:17px;
  width:30px;
  height:30px;
  color:#797979;
}
#u21701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21703 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21704 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21705 {
  position:absolute;
  left:247px;
  top:59px;
  touch-action:none;
}
#u21705_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21705_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21707_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21708 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u21709 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:32px;
  height:30px;
  color:#797979;
}
#u21709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21711 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21712 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21713 {
  position:absolute;
  left:132px;
  top:297px;
  touch-action:none;
}
#u21713_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21713_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21715_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21716 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u21718 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:35px;
  height:31px;
  color:#797979;
}
#u21718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u21719 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:26px;
  width:18px;
  height:18px;
  color:#797979;
}
#u21719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21721 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21722 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21723 {
  position:absolute;
  left:247px;
  top:297px;
  touch-action:none;
}
#u21723_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21723_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21725_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21726 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u21728 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:32px;
  height:23px;
  color:#797979;
}
#u21728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u21729 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:23px;
  width:32px;
  height:21px;
  color:#797979;
}
#u21729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21731 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21732 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21733 {
  position:absolute;
  left:20px;
  top:298px;
  touch-action:none;
}
#u21733_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:87px;
  background-image:none;
}
#u21733_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21735_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:74px;
  height:73px;
}
#u21735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
  font-size:28px;
  color:#FFFFFF;
}
#u21735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21736 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:57px;
  height:16px;
}
#u21736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u21738 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:23px;
  width:13px;
  height:14px;
  color:#797979;
}
#u21738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u21739 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:29px;
  height:29px;
  color:#797979;
}
#u21739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u21740 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:37px;
  width:12px;
  height:10px;
  color:#797979;
}
#u21740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21742 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u21742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21743 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:4px;
  width:7px;
  height:7px;
  color:#797979;
}
#u21743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
